.header-bg {
    background-image: url('/assets/images/disco.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}

:host {
    display: block;
    width: 100%;
}