.app-root {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    width: 100%;
    max-width: 1600px;
}

.content {
    padding: 2rem;
}

@media (min-width: 80rem) {
    .content {
        padding: 2rem;
        margin-top: 2rem;
    }
}