<footer class="flex flex-col justify-center items-center rounded-t-2xl">
    <span class="text-xl lg:text-2xl">Party Countdown</span>
    @if (timeLeft$ | async; as t) {
    <div class="flex flex-row mt-4 gap-x-8 lg:gap-x-16">
        <div class="flex flex-col text-center">
            <span class="text-4xl lg:text-5xl font-semibold">{{t.daysToDday}}</span>
            <span class="text-xl lg:text-2xl mt-1 lg:mt-2">Days</span>
        </div>
        <div class="flex flex-col text-center">
            <span class="text-4xl lg:text-5xl font-semibold">{{t.hoursToDday}}</span>
            <span class="text-xl lg:text-2xl mt-1 lg:mt-2">Hours</span>
        </div>
        <div class="flex flex-col text-center">
            <span class="text-4xl lg:text-5xl font-semibold">{{t.minutesToDday}}</span>
            <span class="text-xl lg:text-2xl mt-1 lg:mt-2">Minutes</span>
        </div>
    </div>
    }
</footer>