.image-with-content-container {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  grid-area: imageContainer;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.content-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  grid-area: contentContainer;
}

.left {
  grid-template-areas:
    "imageContainer"
    "contentContainer";
}

.right {
  grid-template-areas:
    "contentContainer"
    "imageContainer";
}

@media (min-width: 80rem) {
  .image-with-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left {
    grid-template-areas: "imageContainer contentContainer";
  }

  .right {
    grid-template-areas: "contentContainer imageContainer";
  }

  .image-container {
    margin-right: 1rem;
  }

  .content-container {
    margin-left: 1rem;
  }
}