.image-with-text-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 2rem;
}

.text-container h2 {
  margin-bottom: 0.5rem;
}

@media (min-width: 80rem) {
  .image-with-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left {
    grid-template-areas: "imageContainer textContainer";
  }

  .right {
    grid-template-areas: "textContainer imageContainer";
  }

  .image-container {
    margin-right: 1rem;
    grid-area: imageContainer;
  }

  .text-container {
    margin-left: 1rem;
    grid-area: textContainer;
  }
}